.Header {
    color: white;
    background-color: blue;
   
}
.innerHeader {
    display: flex;
    justify-content: space-evenly;
    font-size: 20px;
    

}
.innerHeader > .navbtn {
    font-size: 20px;
}

.hesari {
    display: flex;
    justify-content:space-evenly;
    font-size:40px;
    font-family:Helvetica;
}



.Adbanner {
    margin-left: auto;
    margin-right: auto;
    font-size:20px;
    color:white;
    width: 1700px;
    
}

.Adbanner > .mainos{
    display:flex;
    justify-content:left;
    align-content: flex-start;
    background-color: rgb(39, 75, 129);
    border: solid 1px ;
    height:50px;
  
}

.Adbanner > .lol {
    display:flex;
    justify-content:left;
    background-color:rgb(53, 126, 155);
    border: solid 1px ;
    height:50px;
}

.maincontent {
    margin-left: auto;
    margin-right: auto;
 
    color:white;
    width: 1700px;
}

.maincontent > .mainPage {

    width:80%;
    font-size:40px

}

.maincontent > .mainHeadline {

    
}

.maincontent > .morso {
    
}



