.Header {
    color: white;
    font-family: "Helvetica Neue";
    background-color: blue;
    font-size: 60px;
}

.Leftheader {
display: flex;



}

.Rightheader {
display: flex;

    
}

.Menu {

    

}


.navbtn {
    font-size: 40px;
    padding-left: 15px;
    
    

    
}

.Pullmenu {
    font-size: 40px;
}

